.home-content{
    width: 720px;
    margin: auto;
    margin-top: 80px;
}
#post{
    display:none;
}
#post.active{
    display:block;
    position:absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 620px;
}

.create-post{
    background:#152933;
}
form small{
    color: red
}